.navbar {
  height: 9vh;
  width: 100%;
  background-color: $light;
  padding: 0px 20px;

  .navbar_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar_logo {
    font-size: 1.2rem;
  }

  .navbar_links {
    display: none;
    font-size: 0.85rem;

    a {
      &:hover {
        color: $lime;
      }
    }
  }

  @include Tablet {
    padding: 0 40px;

    .navbar_container {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .navbar_menu_icon {
      display: none;
    }

    .navbar_links {
      justify-self: end;
      max-width: 600px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .navbar_btn {
        padding: 9px 15px;
        font-size: 0.8rem;
        @include Button;

        &:hover {
          background-color: $blue;
        }
      }
    } // navbar links
  } // tablet

  @include laptop {
    padding: 0px 50px;
  }

  @include x-desktop {
    height: 11vh;

    .navbar_container {
      max-width: 1050px;
      margin: auto;
    }

    .navbar_links {
      font-size: 0.95rem;
    }
  }
}
