.hero {
  width: 100%;
  height: 91vh;
  background-color: $light;
  padding: 0 20px;

  .hero_content_left {
    width: 100%;
    height: 100%;
    max-height: 400px;
    padding-top: 6vh;

    h1 {
      color: $lime;
      font-size: min(9.5vw, 35px);
    }
    p {
      font-size: 2.5vh;
      margin: 3vh 0;
      color: $dark;
    }

    .hero_btn {
      padding: 9px 20px;
      @include Button;
    }
  }

  .hero_container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .hero_content_right {
    width: 100%;

    img {
      float: right;
      width: min(300px, 80%);
    }
  }

  @include Tablet {
    padding: 40px;
  }

  @include laptop {
    padding: 50px;

    .hero_container {
      display: grid;
      grid-template-columns: auto auto;
      align-items: center;
    }
  } //laptop

  @include desktop {
    .hero_content_left {
      h1 {
        font-size: min(9.5vw, 45px);
      }
      p {
        font-size: 2.5vh;
      }

      .hero_btn {
        @include Button;
      }
    }
  } // desktop

  @include x-desktop {
    height: 89vh;

    .hero_container {
      grid-template-columns: 50% 50%;
      max-width: 1050px;
      margin: auto;
    }

    .hero_content_left {
      margin-left: 50px;
    }

    .hero_content_right {
      display: flex;
      img {
        margin: auto;
        float: none;
        width: min(300px, 60%);
      }
    }
  }
}
